* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 12px;
  margin: 0; /* for PP */
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.header {
  min-height: 96px;
  padding: 30px 0 8px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.header__logo {
  margin-right: 45px;
  margin-top: 5px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navbar__item {
  margin-right: 35px;
}

.navbar__item:nth-child(6) {
  margin-right: 192px;
}

.navbar__item:nth-child(9)::after {
  content: "1";
  display: inline-block;
  font-size: 9px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 4px;
}

.navbar__item:last-child {
  margin-right: 0;
}



.navbar__link {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.search-form {
  width: 178px;
  border-bottom: 1px solid #000;
  margin-top: 6px; /* for PP */
}

.search-form__input {
  width: 160px;
  border: none;
  outline: none;
}

/* .search-form__link {
  ЛУПА
}
 */
/* ------------------- Стили 1 секции -------------- */

.market-section {
  padding-top: 18px;
}

.banner {
  min-height: 280px;
  background: no-repeat url("../img/street.jpg");
  border: 1px solid transparent; /* Почему без рамки не работает центрирование??? */
}

.banner__title {
  display: block;
  max-width: 196px;
  margin: 90px 0 15px 58px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 29px;
  color: #fff;
}

.link-more {
  font-weight: 700;
  text-transform: uppercase;
}

.banner__link-more {
  margin-left: 58px;
}

.banner__link-more:visited {
  color: #fff;
}

.banner__link-more::after {
  content: url("../img/Arrow.svg");
  margin-left: 5px;
}

.section__subtitle {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.market-section__subtitle {
  text-align: center;
  margin: 51px 0 16px 0;
}

.products {
  display: flex;
  justify-content: space-between;
}

.products__product-card {
  margin: 0 0 25px 0;
  /* background-color: rgb(160, 32, 32); */
}

.product-card {
  width: 230px;
  position: relative;
  padding: 0 12px;
  height: 261px;
  /* border: 1px solid rgb(23, 125, 209); */
}

.product-card::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 108%; /* Найти лучшее решение */
  /* display: inline-block; */
  width: 1px;
  height: 100px;
  background:  #000000;
  opacity: 0.2;
}

.product-card:first-child::after {
  display: none;
}

.product-card__picture {
  margin: 0 0 26px 12px;
  
}

.product-card__name {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  /* margin-left: -15px; */
  margin-bottom: 6px;
}

.color-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .product-card__colors {} */

.circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circles__link {
  width: 7px;
  height: 7px;
  border: 1;
  border-radius: 50%;
  background: #c4c4c4;
  margin-left: 8px;
  transition: .3s;
}

.circles__link:first-child {
  background: red;
}

.circles__link:hover {
  transform: scale(1.5);
}

.product-card__price {
  font-size: 14px;
  font-weight: 700;
  /* margin-right: 40px; */
}

.video-block__slogan {
  /* color: #ffffff; */
  font-size: 22px;
  font-weight: 700;
  line-height: 33.52px;
  text-transform: uppercase;
}

.video-block__text, .stories-card__descr {
  /* color: #ffffff; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21.33px;
}

.stories-card__title, .gallery__hashtag {
  font-size: 18px;
  font-weight: 700;
}

.footer-navbar__title {
  /* color: #ffffff; */
  font-weight: 700;
  text-transform: uppercase;
}

/* .footer-navbar {
  color: #ffffff;
} */